*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: rgba(68, 68, 68, 1);
  font-size: 14px;
  line-height: 18px;
  background-color: $basic-white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}


button {
  border: none;
  background-color: inherit;
}
