$basic-white:rgb(255, 255, 255);
$basic-green:rgb(104, 183, 56);
$basic-black:rgb(0, 0, 0);
$special-light-black:rgb(17, 17, 17);
$special-black: rgb(34, 34, 34);
$basic-grey:rgb(242, 242, 242);
$special-grey:rgb(68, 68, 68);
$special-light-grey:rgb(235, 235, 235);
$special-medium-grey:rgb(205, 205, 205);
$border-grey:rgb(230, 230, 230);


$tablet-width: 768px;
$desktop-width: 1200px;
