/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/body.scss";
@import "./blocks/button.scss";
@import "./blocks/main-logo.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/promo.scss";
@import "./blocks/nutrition-programs.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/cooperation.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social-media.scss";
@import "./blocks/logo-html-academy.scss";
@import "./blocks/product-catalog.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/subscribe.scss";
