.additional-products {
  font-size: 14px;
  line-height: 14px;
}

.additional-products__wrapper{

}

.additional-products__header {
  @include oswald-text(24px,24px);
}

.additional-products__list{

}

.additional-products__item{

}

.additional-products__title {
  @include oswald-text(16px,16px, rgba(34, 34, 34, 1));
}

.additional-products__price-info{

}

.additional-products__amount{

}

.additional-products__price{

}

.additional-products__button {
  @include oswald-text(16px,20px, $basic-white);
  background-color: $basic-green;
}

.additional-products__promotion{
}

.additional-products__promotion-text {
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
}
