// .advantages__wrapper {
// }

.advantages__header {
  @include oswald-text(36px, 40px);
}

// .advantages__list{

// }

// .advantages__item{

// }
.advantages__item--leaf {
  background-image: url("../../icons/icon-leaf.svg");
}

.advantages__item--liquid {
  background-image: url("../../icons/icon-liquid.svg");
}

.advantages__item--appliances {
  background-image: url("../../icons/icon-appliances.svg");
}

.advantages__item--watch {
  background-image: url("../../icons/icon-watch.svg");
}
// .advantages__text{

// }
