.advantages__wrapper {
  padding: 22px 20px 49px;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 47px;
    border-bottom: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding: 71px 110px 69px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.advantages__header {
  @include oswald-text(36px, 40px);
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include oswald-text(60px, 60px);
    margin-bottom: 32px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style: none;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 57px;
    counter-reset: advantages;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 37px 80px;
  }
}

.advantages__item {
  width: 100%;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: left;
  min-height: 60px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 40px 0 57px;
    background-size: 80px 80px;
    background-position: left top 40px;
    counter-increment: advantages;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: counter(advantages);
      position: absolute;
      top: -7;
      right: 72;
      font-size: 280px;
      line-height: 1;
      color: $basic-grey;
      z-index: 1;
      pointer-events: none;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      right: 0;
    }
  }
}

.advantages__item--leaf {
  position: relative;
  background-image: url("../../icons/icon-leaf.svg");
}

.advantages__item--liquid {
  position: relative;
  background-image: url("../../icons/icon-liquid.svg");
}

.advantages__item--appliances {
  position: relative;
  background-image: url("../../icons/icon-appliances.svg");
}

.advantages__item--watch {
  position: relative;
  background-image: url("../../icons/icon-watch.svg");
}


.advantages__text {
  margin-left: 80px;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    @include lato-text(16px, 24px);
    padding-top: 111px;
    margin-left: 0;
    max-width: 245px;
  }
}
