.button {
  @include oswald-text(16px, 20px, $basic-white);
  background-color: $basic-green;
  color: $basic-white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: rgb(94, 170, 47);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--show-all {
  background-color: $basic-grey;
  color: $special-grey;

  width: 100%;
  padding: 10px;
  text-transform: uppercase;
}
