.button {
  @include oswald-text(16px, 20px, $basic-white);
  background-color: $basic-green;
  color: $basic-white;
  border: none;
}

.button--show-all {
  background-color: $basic-grey;
  color: rgba(68, 68, 68, 1);
}
