// .cooperation{

// }

// .cooperation__wrapper{

// }

.cooperation__business-card {
  display: flex;
  flex-direction: row;
}

.cooperation__card-invitation {
  @include oswald-text(16px, 20px, rgba(17,17,17,1));
  text-transform: uppercase;
}

.cooperation__card-adress {
  line-height: 20px;
}
