// .example{

// }

.example__wrapper {
  padding: 25px 20px 40px;
  background-color: $basic-grey;
}

.example__header {
  @include oswald-text(36px,40px);
  margin-bottom: 40px;
}

.example__text {
  margin-bottom: 20px;
}


.example-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.example-stats__item {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  background-image: url("../../icons/border-example-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}

.example-stats__item-value {
  text-transform: uppercase;

  @include oswald-text(24px, 24px);
}

.example-stats__item-description {
  @include lato-text(12px, 100%);
  max-width: 77px;
}

.example__sum {
  @include oswald-text(14px,20px);
  text-align: center;
}

.example__slider {
  @media (min-width: $tablet-width) {
    position: absolute;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 1px;
    right: 1px;
  }
}

// .example__slider-list{

// }

// .example__slider-item{

// }

// .example__slider-control{

// }

// .example__slider-line{

// }

// .example__slider-arrows{

// }
