.main-logo {
  display: flex;
  gap: 56px;
  align-items: center;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 13px;
  }
}

.main-logo__picture {
  background-image: url("../../icons/main-logo-picture-mobile.svg");
  width: 33px;
  height: 38px;
}

.main-logo__text {
  background-image: url("../../icons/main-logo-text-mobile.svg");
  width: 128px;
  height: 24px;
}
