.main-nav {
  width: 100%;
  position: absolute;
  top: 65;
  left: 0;
  z-index: 10;

  @media (min-width: $tablet-width) {
    position: static;
  }
}

.main-nav__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.no-js .main-nav {
  position: static;
}

.main-nav__list {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  justify-content: center;
  list-style: none;


  @media (min-width: $tablet-width) {
    width: unset;
    flex-direction: row;
    gap: 33px;
    justify-content: end;
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: unset;
    flex-direction: row;
    gap: 8px;
    justify-content: end;
    max-width: 1000px;
  }
}

.main-nav__item {
  width: 100%;
  text-align: center;
  padding: 22px 22px 24px;
  background-color: $basic-white;
  border-top: 1px solid $border-grey;

  @include oswald-text(20px, 20px, $basic-black);
  z-index: 3;
  text-transform: uppercase;

  &:hover {
    background-color: $basic-grey;
  }

  &:active {
    background-color: $basic-grey;
  }

  @media (min-width: $tablet-width) {
    width: unset;
    padding: 0;
    border: none;

    @include oswald-text(18px, 24px,$basic-black);

    &:hover {
      background-color: inherit;
      opacity: 0.7;
    }

    &:active {
      background-color: inherit;
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    @include oswald-text(20px, 100%,$basic-white);
    background-color: unset;
    padding: 10px;
  }
}

@media (min-width: $desktop-width) {
  .page__body-catalog .main-nav__item {
    color: $basic-black;
  }
}

.main-nav__item a {
  height: 100%;
  width: 100%;
  padding: 10px 0;

  &:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid $basic-white;
  }
}


.main-nav__toggle {
  position: absolute;
  top: -45;
  right: 21;
  width: 24px;
  height: 24px;
  background-image: url("../../images/open-modal.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle:active,
.main-nav__toggle:focus {
  background-color: $basic-white;
}

.main-nav__toggle--open {
  background-image: url("../../images/close-modal.svg");
  width: 18px;
  height: 18px;
}

.main-nav--opened .main-nav__wrapper {
  display: block;
}
