.main-footer {
  background-color: $basic-grey;
}

.main-footer__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 40px 20px;


  @media (min-width: $tablet-width) {
    padding: 57px  30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: 66px  110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
