.main-header {
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

// .main-header__main-nav{

// }

.main-header__toggle {
  width: 24px;
  height: 24px;
  background-image: url("../../images/open-modal.svg");

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle--close {
  background-image: url("../../images/close-modal.svg");
  width: 18px;
  height: 18px;
}
