.main-header {
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 25px 34px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
  }
}

.main-nav {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-header__toggle {
  width: 24px;
  height: 24px;
  background-image: url("../../images/open-modal.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: inherit;

  justify-self: end;


  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle--close {
  background-image: url("../../images/close-modal.svg");
  width: 18px;
  height: 18px;
}
