
.nutrition-programs__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.nutrition-programs__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;


  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.nutrition-programs__item {
  width: 100%;
  padding: 30px 33px 20px 20px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 77px 53px 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 63px 52px;
    width: 50%;
  }
}

.nutrition-programs__item--slim {
  background-image: url("../../icons/icon-cat-slim.svg");
  background-size: 50px 53px;
  background-repeat: no-repeat;
  background-position: 20px 21px;

  @media (min-width: $tablet-width) {
    background-size: 200px 211px;
    background-position: right 62px top 49%;
  }

  @media (min-width: $desktop-width) {
    background-size: 100px 106px;
    background-position: left 52px top 41px;
  }
}

.nutrition-programs__item--pro {
  background-image: url("../../icons/icon-cat-pro.svg");
  background-size: 67px 50px;
  background-repeat: no-repeat;
  background-position: 13px 24px;

  @media (min-width: $tablet-width) {
    background-size: 268px 200px;
    background-position: right 29px top 54%;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 100px;
    background-position: left 33px top 46px;
  }
}

.nutrition-programs__title {
  @include oswald-text(24px, 37px);
  margin-left: 70px;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include oswald-text(36px, 36px);
    margin-left: 0;
    margin-bottom: 24px;
    transform: none;
    max-width: 340px;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.nutrition-programs__text {
  position: relative;
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    @include lato-text(16px, 24px, $basic-black);
    word-wrap: break-word;
    max-width: 340px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    margin-bottom: 32px;
  }
}

.nutrition-programs__text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(217, 217, 217);
  bottom: -22px;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.nutrition-programs__link {
  @include oswald-text(16px, 16px);
  max-width: 150px;
  text-transform: uppercase;
  background-image: url("../../icons/icon-arrow-short.svg");
  background-size: 32px 10px;
  background-repeat: no-repeat;
  background-position: 98px 1px;

  &:hover {
    background-image: url("../../icons/icon-arrow-long.svg");
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include oswald-text(20px, 100%);
    max-width: 180px;
    background-position: 129px 4px;
  }
}
