.page__body-catalog .cooperation__wrapper {
  background-color: $basic-grey;
}


@media (min-width: $desktop-width) {
  .page__body-index .main-nav__item--active a {
    border-bottom: 2px solid $basic-white;
  }
}

.page__main-header-wrapper {
  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
