.promo {
  background: linear-gradient(0deg, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../../images/promo-cat-bg@1x.webp");
  background-repeat: no-repeat;
  background-size: 100% 302px, 100% 302px;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(0deg, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../../images/promo-cat-bg@1x.webp");
    background-repeat: no-repeat;
    background-size: 100% 302px, 100% 302px;
  }

  @media (min-width: $tablet-width) {
    background: #ffffff;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;

    &::after {
      content: "";
      z-index: 2;
      background: linear-gradient(0deg, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../../images/promo-cat-bg-desktop@1x.webp");
      background-size: cover, 1040px 100%;
      background-position: 100%, 0%;
      background-repeat: no-repeat;
      width: 50vw;
      height: 694px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.promo__wrapper {
  padding: 20px;
  position: relative;
  min-height: 1000px;  //примерно
}


.promo__header {
  @include oswald-text(36px, 36px, rgba(255, 255, 255, 1));

  @media (min-width: $tablet-width) {
    color: rgba(0, 0, 0, 1);
  }
}

.promo__text {
  @include oswald-text(14px, 14px, rgba(255, 255, 255, 1));
  text-transform: uppercase;
  top: 1px;
  left: 1px;

  @media (min-width: $tablet-width) {
    color: rgba(0, 0, 0, 1);
  }
}

.promo__image {
  position: absolute;
}

.promo__button {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $basic-green;
  z-index: 1113;
}
