.promo {
  background-image:
    linear-gradient(0deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../../images/promo-cat-bg@1x.webp"),
    linear-gradient(rgb(64, 66, 68), rgb(64, 66, 68));
  background-repeat: no-repeat;
  background-size: 100% 302px, auto 302px, 100% 302px;
  background-position: top, top center, top;

  @media (min-width: $tablet-width) {
    background: $basic-white;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;

    &::after {
      content: "";
      z-index: 2;
      background: linear-gradient(0deg, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../../images/promo-cat-bg-desktop@1x.webp");
      background-size: cover, 1040px 100%;
      background-position: 100%, 0%;
      background-repeat: no-repeat;
      width: 50vw;
      height: 694px;
      position: absolute;
      right: 0;
      top: 0;
    }

    @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
      &::after {
        background: linear-gradient(0deg, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../../images/promo-cat-bg-desktop@2x.webp");
      }
    }
  }
}

.promo__wrapper {
  padding: 27px 20px 0;
  text-align: center;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 65px 90px 0;
    margin-bottom: 526px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 110px 0 0 80px;
    margin: 0 auto;
    margin-bottom: 266px;
    max-width: 1440px;
  }
}


.promo__header {
  @include oswald-text(36px, 36px, $basic-white);
  max-width: 250px;
  margin: 0 auto 25px;

  @media (min-width: $tablet-width) {
    @include oswald-text(60px, 60px, $basic-black);
    margin: 0 0 40px;
    max-width: 430px;
  }
}

.promo__text {
  @include oswald-text(14px, 14px, $basic-white);
  text-transform: uppercase;
  margin: 0 auto 302px;
  max-width: 250px;


  @media (min-width: $tablet-width) {
    @include oswald-text(20px, 20px, $basic-black);
    max-width: 430px;
    margin: 0 0 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

  @media (min-width: $tablet-width) {
    top: 267px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    top: 30px;
    left: 60%;
    transform: translateX(-52%);
  }
}

.promo__button {
  @include oswald-text(16px, 20px, $basic-white);
  position: relative;
  text-transform: uppercase;
  background-color: $basic-green;
  width: 100%;
  padding: 10px;
  z-index: 5;

  @media (min-width: $tablet-width) {
    @include oswald-text(20px, 26px, $basic-white);
    width: 242px;
    min-height: 54px;
  }
}
