// .social-media__list{

// }

.social-media__item {
  background-color: rgba(102, 102, 102, 1);

  &:hover {
    background-color: $basic-green;
  }

  &:active {
    background-color: $basic-green;
    opacity: 0.3;
  }
}

.social-media__item--vk {
  mask-image: url("../../icons/icon-vk.svg");
}

.social-media__item--youtube {
  mask-image: url("../../icons/icon-youtube.svg");
}

.social-media__item--telegram {
  mask-image: url("../../icons/icon-telegram.svg");
}
