.social-media {
  width: 100%;
  border-bottom: 1px solid rgb(217, 217, 217);

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social-media__list {
  display: flex;
  gap: 24px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  max-width: 200px;
  flex-wrap: wrap;
  list-style: none;


  @media (min-width: $tablet-width) {
    padding: 0;
    align-items: center;
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    border: none;
    align-items: center;
    max-width: 1000px;
  }
}

.social-media__item-link {
  width: 28px;
  height: 22px;
  background-color: rgb(102, 102, 102);
  border: none;

  &:hover,
  &:focus {
    background-color: $basic-green;
  }

  &:active {
    background-color: $basic-green;
    opacity: 0.3;
  }
}

.social-media__item-link--vk {
  mask-image: url("../../icons/icon-vk.svg");
}

.social-media__item-link--youtube {
  mask-image: url("../../icons/icon-youtube.svg");
}

.social-media__item-link--telegram {
  mask-image: url("../../icons/icon-telegram.svg");
}
