.stretch-line-right {
  position: absolute;
  height: 2px;
  background-color: $basic-green;
  top: 10;


  @media (min-width: $tablet-width) {
    top: 13;
  }

  @media (min-width: $desktop-width) {
    top: 16;
  }
}

.stretch-line-right--additional-products {
  left: 265;
  width: calc(100vw - 286px);

  @media (min-width: $tablet-width) {
    left: 339;
    width: calc(100vw - 411px);
  }

  @media (min-width: $desktop-width) {
    left: 416;
    width: calc(100vw - 526px);
  }
}

.stretch-line-right--subscribe {
  left: 192;
  width: calc(100vw - 214px);

  @media (min-width: $tablet-width) {
    left: 242;
    width: calc(100vw - 312px);
  }

  @media (min-width: $desktop-width) {
    top: 19;
    left: 293;
    width: calc(100vw - 403px);
  }
}

.stretch-line-left {
  display: none;
  position: absolute;
  height: 2px;
  background-color: $basic-green;
  top: 10;
  width: 30px;
  left: -72;

  @media (min-width: $tablet-width) {
    display: block;
    top: 13;
  }

  @media (min-width: $desktop-width) {
    left: -112;
    top: 16;
    width: 72px;
  }
}

.stretch-line-left--subscribe {
  @media (min-width: $tablet-width) {
    display: block;
    top: 14;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
  }
}
