.subscribe {
  @include oswald-text(24px,24px);
}

// .subscribe__title {
// }

.subscribe__form {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.subscribe__text {
  font-size: 16px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.subscribe-button {
  font-size: 20px;
  line-height: 24px;
  color: $basic-white;
  background: $basic-green;
}
